postgres:
  host: localhost
  port: 5432
  username: yourusername
  password: yourpassword
  database: yourdatabase
  ssl_mode: disable

opa:
  enabled: false
  url: "http://localhost:8181/v1/data/example/allow"
  timeout: "5s"

jwt:
  secret: "d94d1b416493cfe0c4dfd4a8f87d46cdc52dfbae4bd0b36790e5d2311dda3d86"
  expiration_duration: "72h"